* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 50%;
    margin: 0 auto;

    .header {
        text-align: center;
        font-size: 40px;
    }
}
