form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
  min-height: calc((100vh - 40px) - 100px);

  & fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & label {
    font-weight: 500;

    & span {
      color: red;
    }
  }

  & input,
  & select {
    box-sizing: border-box;
    min-width: 300px;

    // &:invalid {
    //     border: 1px dashed red;
    // }
  }

  & input[type='submit'],
  & button[type='submit'] {
    margin-top: 10px;
  }

  & .controls {
    margin-top: 10px;

    & input[type='submit'],
    & button[type='submit'] {
      margin-top: 0;
    }

    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & code {
    position: fixed;
    top: 10px;
    left: 10px;
    min-width: 300px;
  }

  & nav {
    display: flex;
    gap: 5px;
  }
}

pre {
  text-align: left;
  width: 20%;
  margin: 0 auto;
}
